.store__buttons {
    padding: 10px 12px;
    margin: 10px 12px
}
.cart {
    background-color: #23bf11;
    color: white;
    transition-duration: .5s;
    border: 1px black solid;
    padding: 10px;
    border-radius: 5px;
}
.cart:hover {
    background-color: #2be715;
}
main a {
    text-decoration: none;
    color: black;
}
