{% extends 'base.html' %}

{% load static %}

{% block title %} {{ category.name }} {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'store/styles/products/styles.css' %}"> {% endblock %}

{% block content %}
<div class="product_list">
    {% for product in products %}
        <div class="card">
            <div class="card__img">
                <a href="{% url 'product' product_id=product.id %}"><img src="{{ product.img.url }}" alt=""></a>
            </div>
            <div class="card__text">
                <h3>{{ product.title }}</h3>
            </div>
        </div>
    {% endfor %}
</div>
<div class="statistics">
    <ul>
        <li class="statistics__item">
            Price of the most expensive product: {{ statistics.max_price }}$
        </li>
        <li class="statistics__item">
            Price of the cheapest product: {{ statistics.min_price }}$
        </li>
        <li class="statistics__item">
            Average cost of the products: {{ statistics.avg_price }}$
        </li>
        <li class="statistics__item">
            Total sum of prices of all the products: {{ statistics.total_cost }}$
        </li>
    </ul>
</div>
{% endblock %}