{% extends 'base.html' %}

{% load static %}

{% block title %} {{ product.title }}{% endblock %}

{% block extra_css %} <link rel="stylesheet" href="{% static 'store/styles/product_page/styles.css' %}"> {% endblock %}

{% block content %}
    <div class="product_page">
        <div class="product__img">
            <img src="{{ product.img.url }}" alt="Product Img">
        </div>
        <div class="product__text">
            <h1>{{ product.title }}</h1>
            <h2 id="categories">Categories: </h2>
            <ul>
                {% for category in product.category.all %}
                    <li class="categories__item">{{ category }}</li>
                {% endfor %}
            </ul>
            <h2 id="price">${{ product.price }}</h2>
            {% if product.quantity > 10 %}
                <h3 id="quantity">Quantity: {{ product.quantity }}</h3>
            {% else %}
                <h3 id="low_quantity">Only {{ product.quantity }} Left!!!</h3>
            {% endif %}
            <h3 id="desc_title">Product Description: </h3>
            <p id="desc">{{ product.desc }}</p>
            <button class="cart">Add to cart</button>


        </div>
    </div>
{% endblock %}