main a {
    text-decoration: none;
    color: black;
}
main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.product_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 100px;
    row-gap: 100px;
    padding: 20px;
    border-bottom: 1px solid green;
}
.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid green;
    cursor: pointer;
    transition-duration: .25s;
}
.card__text {
    padding: 10px 12px;
}
.card:hover {
    color: #39ec24 ;
}

.card__img {
    overflow: hidden;
}
.card__img img {
    width: 250px;
    height: 250px;
    object-fit: scale-down;
    transition: transform 0.5s ease-in-out;
}

.card:hover .card__img img {
    transform: scale(1.1);
}

.statistics__item {
    padding: 10px 12px;
}