main a {
    text-decoration: none;
    color: black;
}

.product_page {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px;
    padding: 10px 12px;
}

.product__img img {
    width: 500px;
    height: 500px;
    object-fit: scale-down;
}

.product__text {
    padding: 10px 12px;
    max-width: 500px;
}

#categories {
    margin-top: 10px;
}

.categories__item{
    margin-top: 5px;
}

#price {
    color: #006b1b;
    margin-top: 10px;
}
#quantity {
    margin-top: 20px;
}
#low_quantity {
    color: red;
    margin-top: 20px;
}

#desc_title {
    margin-top: 20px;
    color: #1b1b1b;
}

#desc {
    margin-top: 10px;
}

.cart {
    margin-top: 30px;
    background-color: #006b1b;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-size: larger;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition-duration: .25s;
}

.cart:hover {
    background-color: #2be715;
    color: #2b2424;
}

