@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}
nav {
    border-bottom: 1px solid black;
}
nav li {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin: 20px;
}
nav h1 {
    display: inline-block;
    margin: 10px 12px;
    color: #23bf11;
}
nav ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
}
nav a {
    text-decoration: none;
    color: black;
    transition-duration: .5s;
}
nav a:hover {
    color: #23bf11;
}
