{% load static %}
<!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
          <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
        <title>Order</title>
      </head>
      <body>
        <header>
          <nav>
            <h1>Django Project</h1>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/store/">Store</a></li>
              <li><a href="/order/">Order</a></li>
            </ul>
          </nav>
        </header>
        <main>
            <p>This is the order page.</p>
            <button id="complete"><a href="/order/complete">Complete the order</a></button>
        </main>
      </body>
    </html>