@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}
nav {
    border-bottom: 1px solid black;
}
nav li {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin: 20px;
}
nav h1 {
    display: inline-block;
    margin: 10px 12px;
    color: #23bf11;
}
nav ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
}
nav a {
    text-decoration: none;
    color: black;
    transition-duration: .5s;
}
nav a:hover {
    color: #23bf11;
}
main a {
    text-decoration: none;
    color: black;
}
.categories {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 12px;
    margin: 10px 12px;
}
#categories__title {
    margin: 10px 12px;
}
.card {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    cursor: pointer;
    transition-duration: .25s;
}

.card:hover {
    color: #39ec24 ;
}
.card__img {
    overflow: hidden;

}
.card__img img {
    width: 400px;
    height: 400px;
    object-fit: scale-down;
    transition: transform 0.5s ease-in-out;

}

.card:hover .card__img img {
    transform: scale(1.1);
}

.card__text {
    padding: 10px 12px;
}

